*{
    margin: 0;
    padding: 0;
    
}
body{
    padding-bottom: 10em;
    padding-right:20em ;
}
.verse{
    
    margin: 30em;
    margin-top: 45em;
    padding-bottom: 2em;
    padding-right: 3em;
    position: relative;
    width: auto;
    height: auto;
}

.buttons{
    position: absolute;
    color: rebeccapurple;
    background-color: rgb(44, 126, 180);
    border-radius: 50%;
    width: 12em;
    height: 7.5em;
}

