<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='style.css')}}">
    <title>Button Verse</title>
</head>

<body class="mode{{num}}">
    <h4 class="defineation">BUTTON #1 : RESTORES EVERYTHING TO ITS NATURAL STATE </h4>
    <h4 class="defineation" id="d1">BUTTON COLORED <span  id="color1"> a</span> : Simple Animation </h4>
    <h4 class="defineation" id="d2">BUTTON COLORED <span  id="color2"> a</span> : Simple Animation </h4>
    <h4 class="defineation" id="d3">BUTTON COLORED <span  id="color3"> a</span> : Simple Animation </h4>
    <h4 class="defineation" id="d4">BUTTON COLORED <span  id="color4"> a</span> : Simple Animation </h4>
    <div class="show_animation">
        <h4 id="button_pressed" >BUTTON #{{num}}</h4>
        <h4  id="animtion_name" >{{effects.get(num , "No animation")}}</h4>
    </div>

    <a class="buttons" id="button1" href="/home">#1</a>
    <div class="verse"> 
        {% for button in buttons %}
                <a class="buttons" id="button{{button.number}}" style="left: {{ button.x }}px; top: {{ button.y }}px; " href="/mode/{{button.number}}">#{{button.number}}</a>
        {% endfor %}
    </div>


 
    <script>
        window.onload = function() {

            let button = document.getElementById("button1");

            button.scrollIntoView({
                behavior: "instant",
                block: "center",
                inline: "center"
            });

        }
    </script>
</body>
</html> 